.logotipo {
	margin-top: -53px;
}

.btn-primary {
  color: #ffffff;
  background-color: #1e94d2;
  border-color: #1c8bc5;
  margin-top: 12px;
  margin-left: 14px;
}

.btn-facebook {
  background: #4267b2;
  border-radius: 5px;
  color: white;
  height: 40px;
  text-align: center;
  width: 150px;
}